@import "tailwindcss";
@source "../../../packages/ui";
@import "@repo/ui/globals.css";

@theme {
  --font-sans: var(--font-yekan), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family:
    var(--font-yekan), ui-sans-serif, system-ui, sans-serif !important;
}
