@import "tailwindcss";
@source "../../../packages/ui";
@import "@repo/ui/globals.css";

@theme {
  --font-sans: var(--font-yekan), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family:
    var(--font-yekan), ui-sans-serif, system-ui, sans-serif !important;
}

@media (max-width: 768px) {
  .maplibregl-ctrl-top-right {
    top: 90px !important;
  }

  .maplibregl-ctrl-bottom-right {
    bottom: 80px !important;
  }
}
